<!DOCTYPE html>
<html lang="en">

  <%- include('layouts/header'); -%>

<body>

  <!-- Navigation -->
  <%- include('layouts/navbar'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>404 page not found</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <hr>

  <!-- Footer -->
  <%- include('layouts/footer') -%>

  <!-- Scripts -->
  <%- include('layouts/scripts') -%>

</body>

</html>
