<!DOCTYPE html>
<html lang="en">

  <%- include('layouts/header'); -%>

<body>

  <!-- Navigation -->
  <%- include('layouts/navbar'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register a new account</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% if (errors != null && errors.length > 0) { %>
          <ul class="list-group">
          <% for (var i=0; i < errors.length; i++) { %>
            <li class="list-group-item list-group-item-danger"><%= errors[i]%></li>
          <% } %>
          </ul>
        <% } %>
        <form action="/users/register" method="POST" enctype="multipart/form-data">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Username</label>
              <input type="text" class="form-control" placeholder="Username" id="username" name="username" required data-validation-required-message="Please enter your username." value="<%= username %>">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password" id="password" name="password" required data-validation-required-message="Please enter your password." value="<%= password %>">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>E-mail</label>
              <input type="text" class="form-control" placeholder="E-mail" id="email" name="email" required data-validation-required-message="Please enter your e-mail." value="<%= email %>">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>First name</label>
              <input type="text" class="form-control" placeholder="First name" id="firstname" name="firstname" required data-validation-required-message="Please enter your first name." value="<%= firstname %>">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Last name</label>
              <input type="text" class="form-control" placeholder="Last name" id="lastname" name="lastname" required data-validation-required-message="Please enter your last name." value="<%= lastname %>">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Avatar</label>
              <input type="file" class="form-control" id="avatar" name="avatar">
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include('layouts/footer') -%>

  <!-- Scripts -->
  <%- include('layouts/scripts') -%>

</body>

</html>
